@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Montserrat = logonam, Ubuntu-mono = nav a,Arial - hero section, */

html{
    scrollbar-color: #053934 var(--teal);
}
:root{
    --dark-blue: #020b13;
    --teal: #085c54;
    --ligth-teal: #10aca4;
    --light-green: #84e808;
    --white:#d7dee4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    min-height: 100%;
    color: var(--white);
    background-color: var(--dark-blue)
}

.logo,.name{
    float: left;
}
.logo-name{
    width: 20%;
    
}
.logo-img{
    position: relative;
    top:-10px;
    width: 40px;
}
nav{
    width: 60%;
    text-align: center;
}
.hamburger-button{
    width: 20%;
    position: absolute;
    right: -16%;
}
.logo-name,nav,.hamburger-button{
    float: left;
    padding: 20px;
}

.name-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 0px;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}
.nav-wrapper{
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    height: 58px;
    background-color: var(--teal);
    box-shadow: 0px 0px 15px  var(--ligth-teal);

}
.scroll-bar{
    position: absolute;
    z-index: -1;
    height: 58px;
    width: 0;
    background-color: rgba(4, 35, 39, 0.1);
}
nav a{
    font-family: "Ubuntu Mono", monospace !important;
    text-decoration: none;
    color: var(--white);
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}
.list_icon1,.list_icon2,.list_icon3{
    position: relative;
    right: -2%;
}

.hamburger-menu {
    background-color:  var(--dark-blue);
    box-shadow: var(--dark-blue) 0px 0px 10px 2px;
    height: 96vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -480px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    margin: 20px;
    border-radius: 1rem;
    z-index: 100000;
}
.hamburger-menu.active {
  left: 0;
}

.hamburger-button {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.hamburger-button span {
    height: 5px;
    width: 100%;
    background-color: var(--white);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.hamburger-button span:nth-child(1) {
    top: 25%;
}
.hamburger-button span:nth-child(3) {
    top: 75%;
}
.hamburger-button.active span {
    background-color: rgb(0, 0, 0);
}
.hamburger-button.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-button.active span:nth-child(2) {
    opacity: 0;
}
.hamburger-button.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.hmb_link {
    outline: none;
    font-size: 36px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    outline: 0 !important;
    color: var(--white);
    white-space: nowrap;
    height: 50px;
    position: relative;
    padding: 0px 10px 0px 5px;
}
.hmb_link:hover {
    background: var(--white);
    color: var(--dark-blue);
    border-radius: 2%;
    height: 50px;
}
.hmb_link:before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    border-top: 15px solid var(--dark-blue);
    border-left: 15px solid rgba(255, 0, 0, 0);
    width: 0;
}
.hover {
    position: relative;
    display: inline-block;
}
.hmb-comment{
    text-align: left;
    display: none;
    transition: opacity 0.3s ease;
    color: var(--light-green);
    position: absolute;
    font-size: 15px;
    top: 60%;
    right: -25px; 
}
#hmb-comment-text{
    font-size: 7px;
}
.hover:hover .hmb-comment{
    display: block;
}
footer{
    clear: both;
    background-color: var(--teal);
    text-align: center;
    font-size: 18px;
    color: white;
    box-shadow: 0px 0px 15px  var(--ligth-teal);
}
#animatedText1, #animatedText2,#animatedText3, #animatedText4,#animatedText5, #animatedText6, #animatedText7, #animatedText8, #animatedText9, #animatedText10 {
    font-family:  monospace;
}
.hover > #animatedText {
    font-family: 'Space Mono', monospace;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: 0.5rem;
}


